# Ignore everything by default.
*

# Keep this ignore file itself.
!.gitignore

# Keep the root files.
!AGENTS.md
!CONTRIBUTING.md
!README.md

# Allow Git to look inside the agents and skills directories
!agents/
!skills/

# Keep all contents and subdirectories inside them
!agents/**
!skills/**